body{
  margin: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-img{
  width: 200px;
}

.card{
  width: 500px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  background: #ddebf8;
  color: #2b2839;
  border-bottom: 10px solid #d8cefe;
}
